div.m div.border_wrapper { position:relative;
margin: 0;
padding: 1px;
margin-bottom: 14px;
border: 1px solid #ccc;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}
td div.tab_description {
background: #f3f3f3; 
padding: 7px;
border: 1px solid #ddd;
border-top: 1px solid #bbb;
color: #555;
font-size: 13px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;  position:relative; display:run-in; margin:0 auto;width:98%; overflow:hidden;
}

div.m div.border_wrapper div.title {
background: #0066a2 url(images/thead.png) top left repeat-x;
color: #ffffff;
border-bottom: 1px solid #263c30;
padding: 8px; padding-left:10px; padding-bottom:6px;
font-weight: bold;
text-align: left;
font-size: 13px;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

.mGrid { 
    width: 100%; 
    background-color: Transparent; 
    margin: 0 auto;
   /* border-bottom: 1px solid #999;
border-left: 1px solid #999;
border-top: 1px solid #999;
border-right: 1px solid #999;*/
    border-collapse:collapse; 
}
.mGrid td { 
  border: 0;
border-collapse: collapse;
color: #443D37;
padding-top: 0px;
vertical-align: middle;
border-top: 1px solid #ccc;

border-right: 1px solid #ccc;
border-left: 1px solid #fafafa;

font-family: Verdana;
font-size: 12px;
font-weight: normal;
text-align: left;
vertical-align: middle;
padding-left: 0px;
line-height: 1.5;
text-decoration: none;  padding-left:10px;
}
.float_right {
float: right;
}
.mGrid td .img { 
    background-color:transparent;
   
border-collapse: collapse;opacity:1; width:16px;
}
.mGrid td img 
{/*opacity:0.4*/
 width:16px; background-color:transparent;
   
border-collapse: collapse;opacity:1; width:16px; margin-top:0px;
}

.mGrid th  
{
	text-align:left;
    padding-top:0px;
    padding-bottom:3px;
    color: #007BB8;
    color:White;
    background: #222 url(grd_head.png) repeat-x top; 
    font-weight:bold;
    font-family: Verdana, Helvetica, sans-serif;
    padding-left :0px;padding: 8px;
    
}
.footergrid
{
	text-align:left;
    padding-top:0px;
    padding-bottom:8px;
    color: #007BB8;
    color:White;
     color:#333;
  background-color: #F3F3F3;

    background-repeat:repeat;
    font-weight:bold;
    font-family: Verdana, Helvetica, sans-serif;
    padding-left :0px;
     min-height:35px;
     border: 1px solid #ccc;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px; margin-bottom:10px;
	}

.mGrid th a 
{
	text-align:left;
    padding: 1px 1px; 
    color: #007BB8;
      color:White;
    background: #3588ce url(grd_head.png) repeat-x top; 
    font-weight:bold;
    font-family: Verdana, Helvetica, sans-serif;
   padding-left :0px;
}
.mGrid .alt { background: #F3F9FB url(grd_alt.png) repeat; }
.mGrid .alt {
background: #F3F9FB url(grd_alt.png) repeat;

}
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border: 0; 
    
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
    font-family: Verdana;
font-size: 11px;
font-weight: normal;

text-align: left;
vertical-align: middle;

 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

.SelectedRowStyle 
{
  background-color:#ff9b35;

  border: 0;
border-collapse: collapse;
color: #443D37;
padding-top: 0px;
vertical-align: middle;
border-top: 1px solid #ccc;

border-right: 1px solid #ccc;
border-left: 1px solid #fafafa;

font-family: Verdana;
font-size: 12px;
font-weight: normal;
text-align: left;
vertical-align: middle;
padding-left: 0px;
line-height: 1.5;
text-decoration: none;  padding-left:10px;
}

   
   
}

.SelectedRowStyle  td
{
  background-color:#888;

  border: 0;
border-collapse: collapse;
color: #443D37;
padding-top: 0px;
vertical-align: middle;
border-top: 1px solid #ccc;

border-right: 1px solid #ccc;
border-left: 1px solid #fafafa;

font-family: Verdana;
font-size: 12px;
font-weight: normal;
text-align: left;
vertical-align: middle;
padding-left: 0px;
line-height: 1.5;
text-decoration: none;  padding-left:10px;
}
	}
.pagination  {	padding-right:10px;	text-align:right;}
.pagination a {	}.pagination a.number {				font: normal 11px Verdana;color:#fff!important;text-decoration: none;cursor: pointer;padding: 2px 3px 3px 4px;border-left: 1px solid black;border-right: 1px solid black;margin-left: 2px;margin-right: 2px;background-image: url(App_Themes/Black/grid/black_glass/page_number_normal.png);height: 22px;} .numberhover{-webkit-border-radius: 4px;border-radius: 4px;    font:normal 11px Verdana;    color:#FFFFFF;    text-decoration: none;    cursor: pointer;    padding: 2px 3px 3px 4px;    border-left: 1px solid #1b314e;    border-right: 1px solid #1b314e;    margin-left: 2px;    margin-right: 2px;    background-image:url(App_Themes/Black/grid/black_glass/page_number_over.png);   color:#fff!important;    height: 22px;}
.pagination a.current {	font: normal 11px Verdana;color: black;text-decoration: none;cursor: pointer;padding: 2px 3px 1px 4px;border-left: 1px solid black;border-right: 1px solid black;margin-left: 2px;margin-right: 2px;background-image: url(App_Themes/Black/grid/black_glass/page_number_selected.png);background-repeat: repeat-x;height: 22px;}
.pagination a.nextpage {padding: 2px 9px 4px 15px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/next_normal.gif);border-width:0px; height: 22px;color:transparent;margin-left: 2px;margin-right: 0px;}.nextpagehover {padding: 2px 9px 4px 15px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/next_over.gif);border-width:0px; height: 22px;color:#FFFFFF;margin-left: 2px;margin-right: 0px;}.nextpagecurrent {padding: 2px 9px 4px 15px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/next_disabled.gif);border-width:0px; height: 22px;color:#FFFFFF;margin-left: 2px;margin-right: 0px;}
.pagination a.lastpage {padding: 2px 9px 4px 14px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/last_normal.gif);border-width:0px; height: 22px;color:#FFFFFF;margin-left: -4px;margin-right: 2px;margin-bottom:3px;}.lastpagehover {padding: 2px 9px 4px 14px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/last_over.gif);border-width:0px; height: 22px;color:#FFFFFF;margin-left: -4px;margin-right: 2px;margin-bottom:3px;}.lastpagecurrent {padding: 2px 9px 4px 14px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/last_disabled.gif);border-width:0px; height: 22px;color:#FFFFFF;margin-left: -4px;margin-right: 2px;margin-bottom:3px;}
.pagination a.firstpage {padding: 2px 9px 4px 15px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/first_normal.gif);border-width:0px; height: 22px;color:transparent;margin-left: 0px;margin-right: -5px;}.firstpagehover {padding: 2px 9px 4px 15px;cursor: pointer;color:transparent;background-image: url(App_Themes/Black/grid/black_glass/first_over.gif);border-width:0px; height: 22px;color:transparent;margin-left: 0px;margin-right: -5px;}.firstpagecurrent {padding: 2px 9px 4px 15px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/first_disabled.gif);border-width:0px; height: 22px;color:transparent;margin-left: 0px;margin-right: -5px;}
.pagination a.previouspage {padding: 2px 9px 4px 14px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/previous_normal.gif);border-width:0px; height: 22px;color:transparent;margin-right: 2px;}.previouspagehover {padding: 2px 9px 4px 14px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/previous_over.gif);border-width:0px; height: 22px;color:transparent;margin-right: 2px;}.previouspagecurrent {padding: 2px 9px 4px 14px;cursor: pointer;background-image: url(App_Themes/Black/grid/black_glass/previous_disabled.gif);border-width:0px; height: 22px;color:transparent;margin-right: 2px;}.limit {	float:left;	margin-right:30px}.pagecounter {	text-align:center;	clear:both}a.shortcut-button {	border:1px solid #ccc;	background:#f7f7f7 url(App_Themes/Black/shortcut-button-bg.gif) top left no-repeat;	display:block;	width:90px;	text-decoration:none;	margin:0 0 20px}.shortcut-button span img { margin-bottom:10px }.shortcut-button span:hover, ul#submenu li a:hover { color:#57a000 }ul.shortcut-buttons-set { margin-top:10px }ul.shortcut-buttons-set li {	float:left;	background:0;	list-style-type:none;	margin:0 15px 0 0;	padding:0!important}.dropdownnav option, .jpane-toggler-down { border-bottom:1px solid #ccc }.dropdownnav .dropdown_inactive {	font-weight:700;	background-color:#333;	color:#ccc;	margin:10px 0}form label {	font-weight:700;	padding:10 0 10px;	vertical-align:middle;	margin-top:10px;	margin-left:10px;}form fieldset legend {	font-weight:700;	margin-bottom:10px;	padding-top:10px}form p small {	font-size:.75em;	color:#777}

 .pagination a.current:hover, .button:hover { text-decoration:underline }.next a:active, .home-page a:active, .button:active { padding:5px 7px 3px!important }#login-wrapper #login-content .button_holder {	clear:both;	float:left;	margin-bottom:20px;	text-align:center}#login-wrapper #login-content .button1 { margin-left:120px }#login-wrapper #login-content p .next {	width:auto;	margin-top:20px}#login-error-message {	background:#ffcece url(App_Themes/Black/icons/cross_circle.png) no-repeat;	-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px;	color:#665252;	display:block;	font-style:normal;	line-height:1.5em;	position:relative;	border:1px solid;	background-position:10px 11px!important;	background-repeat:no-repeat!important;	font-size:13px;	width:99.8%;	clear:none;	border-color:#df8f8f;	margin:0 0 15px;	padding:10px 10px 10px 36px}#login-wrapper #login-content p #login-error-message {	clear:none;	margin:0;	padding:0}.col, .align-left, .button2-left, .button2-right, .button2-left div, .button2-right div, div.col { float:left }.width-45 {	width:45%;	float:left}.width-55 {	width:55%;	float:right}.button, #main-content table tfoot td .bulk-actions select, 
 .nonedisplay{display:none;visibility:hidden}
.require_css{color:red; font-size:15pt; text-align:left; vertical-align:middle;}

.help_description{ background: #f3f3f3;  padding: 7px; margin-left:0px;  border: 1px solid #ddd;  border-top: 1px solid #bbb;  color: #555;
  font-size: 13px;  border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  position: relative;
  display: run-in;  margin: 0 auto;  width: auto; margin-right:20px;margin-top:5px;  overflow: hidden;}
  

 