#browser
{
	/* setup the default fonts/size */

	font-size:12px;
	width:100%;
}

/* Tree Pane */
#browser .sidebar
{
	float:left;
	/* workaround for IE6 double margin float bug */
	display: inline;
	/* make room for the a border */
	margin:0px 0px 0px 6px;
    width:auto;
    border:solid 1px #a7bac5;
	background-color:#fff;font-size: 12px;
}
.Node{float:left; text-align:left;width:370px;display:block}
.Node table{float:left; text-align:left;width:370px;display:block}
.Node table td{float:left; text-align:left;display:block}

#browser .sidebar .title
{
	background-color:#f6fbfd;
	border-bottom:solid 1px #9eb6ce;
	color:#1f3695;
	font-size:12px;
	/* center the text vertically */
	height:20px;
	line-height:20px;
	/* indent it a little bit */
	padding:4px 0px 4px 4px;
}

#browser .sidebar .folders .tree
{
	border:none;
	height:485px;
	overflow:auto;float:left;text-align:left;
} 

#browser .sidebar .folders .tree IMG
{
	padding:0px 1px 0px 0px;
}

#browser .sidebar .folders .tree .node
{
	font-size:6pt;
	border:solid 1px #fff;
	padding:1px;
	color:#444;float:left;text-align:left;
}

#browser .sidebar .folders .tree TD.selected-node
{
	background-color:#f6fbfd;
	border-color:#99defd;
}

/* Content Pane */
#browser .content
{
    border:solid 1px #a7bac5;
	border-left:none;
	height:507px;
	background-color:#fff;
	overflow:auto;
	margin-right:6px;
} 
#browser .content .grid
{
	background-color:#fff;
	width:100%;
	border:none; float:left; text-align:left;
}
#browser .content .grid TH
{
	font-weight:normal;
	text-align:left;
	background-color:#f6fbfd;
	border-bottom:solid 1px #9eb6ce;
	color:#1f3695;
	font-size:12px;
	/* center the text vertically */
	height:20px;
	line-height:20px;
	padding:0px 0px 0px 2px;    	
} 
#browser .content .grid TD
{
	font-size:12px;
	padding:2px;
	border:0;
	cursor:pointer;
	margin-left:5px;width:100%;
} 
#browser .content .grid TR:hover
{cursor:pointer;
	background-color:#f6fbfd;
}     
#browser .content .grid .name
{cursor:pointer;
	width:40%;
}
#browser .content .grid .icon
{
	text-align:center;
}                    

#browser .footer
{
	clear:both;
	background:#fff url(../img/footer.gif) no-repeat right;
    border:solid 1px #a7bac5;
    border-top:none;    	
	height:47px;
	margin:0px 6px;
}

#browser .footer .details
{
	background:transparent url(../img/large_folder.gif) no-repeat left;
	height:47px;
	padding-left:75px;
}

#browser .footer .details .folderinfo
{ 
	padding:6px 0px;
}

#browser .footer .details .folderinfo TABLE
{
	font-size:12px;
	padding-top:4px;
}

#browser .footer .details .folderinfo TABLE TD.header
{
	color:#777;
	text-align:right;
}

#browser .footer .details .folderinfo TABLE TD
{
	color:#444;
	text-align:left;
	padding-left:4px;
}