div.rounded {
    clear:both;
    max-width:2400px;min-height:600px;
}

div.rounded div.top-outer {
    background:url(../img/tl.gif) no-repeat left bottom;
    padding:0px;
    width:100%;
}

div.rounded div.top-outer div.top-inner {
    background:url(../img/tr.gif) no-repeat right bottom;
    margin-left:12px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(../img/bg.gif) repeat;
    height:12px;
    margin-right:12px;
    font-size:.01em;
}

div.rounded div.mid-outer {
    background:url(../img/bg.gif) repeat-y;
    clear:both;
    width:100%;
}

div.rounded div.mid-outer div.mid-inner {
    background:url(../img/bg.gif) repeat-y;
}

div.rounded div.mid-outer div.mid-inner div.mid {
    background:url(../img/bg.gif) repeat;
}

div.rounded div.bottom-outer {
    background:url(../img/bl.gif) no-repeat left top;
    clear:both;
    padding:0px;
    width:100%;
}

div.rounded div.bottom-outer div.bottom-inner {
    background:url(../img/br.gif) no-repeat right top;
    margin-left:12px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom {
    background:url(../img/bg.gif) repeat;
    height:12px;
    margin-right:12px;
    font-size:.01em;
}